<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hi.prj.mapper.BoardMapper">
    
    <select id="getHotList" resultType="BoardVO">
       <![CDATA[ 
           select * from board where board_type_num = #{board_type_num} order by bview desc,id desc	
       ]]>
    </select>
    
    <select id="searchList" resultType="BoardVO">
       <![CDATA[ 
          select * from 
          		(select rownum,id,member_id,place_num,board_type_num,btitle,bcontent,bdate,bgrade,bview from board  where member_id = #{member_id} and board_type_num = 2) 
          			order by rownum desc
       ]]>
    </select>
    
    <select id="getBoard" resultType="BoardVO">
       <![CDATA[
           select * from board where id = #{id}
          
       ]]>
    </select>
    
    <select id="getReviewImgList" resultType="ReviewImgVO">
       <![CDATA[
           select id,ipath from
		        image i,
		        (select id from place p, board b where p.num = b.place_num and p.num =#{num})B
		            where i.board_id = B.id
       ]]>
    </select>
    
    <insert id="insert">
           insert into board (id,member_id,place_num,board_type_num,btitle,bcontent,bdate,bgrade,bview)
            	values (board_seq.nextval,#{member_id},#{place_num, jdbcType=INTEGER},#{board_type_num},#{btitle},#{bcontent},sysdate,#{bgrade, jdbcType=DOUBLE},0)
    </insert>
    
    <update id="update" >
    	<![CDATA[
    		update board set member_id=#{member_id}, btitle=#{btitle}, bcontent=#{bcontent}
          	where id =#{id}
    	]]>
    </update>
    
    <delete id="delete" >
    	<![CDATA[
    		delete from board where id = #{id}
    	]]>
    </delete>
    
   
   
   <insert id="insertReply" >
   <![CDATA[
      insert into board (id, member_id, btitle, bcontent, place_num, board_type_num, bgrade, bview) 
      values (mvc_board_seq.nextval, #{member_id}, #{btitle},#{bcontent}, 
                #{place_num}, #{board_type_num}, #{bgrade}, #{bview}+1)
   ]]>
   </insert>
   
   <update id="updateView">
      <![CDATA[
          update board set bview = bview + 1 where id = #{id}
      ]]>
   </update>
   
   <select id="getTotalCount" resultType="int">
       <![CDATA[
           select count(*) from board
       ]]>
    </select>
    
    <select id="getListWithPaging" resultType="BoardVO">
      <![CDATA[
        SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                       SELECT
                             *
                         FROM
                             mvc_board 
                         order by bGroup desc, bStep asc   
             ) A WHERE ROWNUM <= #{pageNum} * #{amount}
         ) WHERE RNUM > (#{pageNum}-1) * #{amount}
      ]]>
   </select>
   
   <select id="getReview" resultType="BoardVO">
       <![CDATA[ 
          select * from (select rownum,id,member_id,place_num,board_type_num,btitle,bcontent,bdate,bgrade,bview from board  where place_num = #{num}) order by rownum desc
       ]]>
    </select>
    
    <select id="replyCount" resultType="int">
       <![CDATA[
             select count(reply) reply from reply, board
             	where reply.board_id = board.id group by board.id order by board.id desc
          
       ]]>
    </select>
    
    <resultMap id="replyCount" type="int">
    	<result property="reply" column="reply"/>    
	</resultMap>
	
	<resultMap id="BoardMap" type="BoardVO">
		 <id property="id" column="id"/>
	     <result property="member_id" column="member_id"/>
	     <result property="place_num" column="place_num"/>
	     <result property="board_type_num" column="board_type_num"/>
	     <result property="btitle" column="btitle"/>
	     <result property="bcontent" column="bcontent"/>
	     <result property="bdate" column="bdate"/> 
	     <result property="bgrade" column="bgrade"/>
	     <result property="bview" column="bview"/>
		 <collection property="reply" resultMap="replyCount"></collection>
	</resultMap>
	
	<select id="getList" resultType="BoardVO">
       <![CDATA[ 
           select id,board.member_id, place_num, board_type_num, btitle, bcontent, bdate, bgrade, bview, reply from board, 
           (select r.board_id, count(reply) reply from reply r, board b where r.board_id = b.id group by b.id order by b.id) reply 
           where board.id = reply.board_id(+) and board_type_num = #{board_type_num} order by id desc
       ]]>
    </select>
	
	
	
	
    

    
    
    
</mapper>
