<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hi.prj.mapper.MemberMapper">
    
    <select id="create" resultType="MemberVO">
       <![CDATA[ 
           insert into member (id, mpw, mname, nick_name, memail, mphone, mbirth, payment)
           		values (#{id}, #{mpw}, #{mname}, #{nick_name}, #{memail}, #{mphone}, #{mbirth}, 0)
           	
       ]]>
    </select>
    
    <select id="logincheck" resultType="MemberVO">
    	
    	<![CDATA[ 
            select id, mpw, mname, nick_name, mphone, memail, mbirth, payment from member
			where id = #{id} and mpw = #{mpw}          	
       ]]>  
    </select>
    
   
    <select id="idcheck" resultType="int">
		select count(*) from member
		where id = #{id}
	</select>
	
	<update id="memberUpdate">
		<![CDATA[ 
            update member set 
			mpw = #{mpw},
			mname = #{mname},
       		nick_name = #{nick_name},
      		memail = #{memail},
      	  	mphone = #{mphone}
			WHERE id = #{id}    	
       ]]>
	
	</update>
	
	<delete id="memberDelete">
		<![CDATA[ 
            delete from member
            where id = #{id}
            and mpw = #{mpw}    	
       ]]> 
	
	</delete>
    
    
			
	
   
    
</mapper>
