<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hi.prj.mapper.PlaceMapper">
    <!-- 예약페이지 -->
    <select id="getAllPlace" resultType="PlaceVO">
       <![CDATA[ 
           select * from place order by num desc
       ]]>
    </select>
    
    <select id="getPlaceGrade" resultType="double">
       <![CDATA[ 
           select round(avg(bgrade),1) bgrade from place,board where place.num = board.place_num group by place.num order by place.num desc
       ]]>
    </select>
    
    <select id="getPlaceImg" resultType="String">
       <![CDATA[ 
           select ipath from 
		        image i,
		        (select r.place_num,min(i.num) inum from room r,image i where r.num = i.room_num group by r.place_num)A 
		            where  i.num = A.inum order by place_num desc
       ]]>
    </select>
    
    <select id="getPriceList" resultType="int">
       <![CDATA[ 
           select ipath from 
		        image i,
		        (select r.place_num,min(i.num) inum from room r,image i where r.num = i.room_num group by r.place_num)A 
		            where  i.num = A.inum order by place_num desc
       ]]>
    </select>
    
    <resultMap id="placeAvgGrade" type="double">
    	<result property="bgrade" column="bgrade"/>    
	</resultMap>
  	 
  	 <resultMap id="getPlaceImg" type="String">
     	<result property="ipath" column="ipath"/>    
  	 </resultMap>
  	 
  	 <resultMap id="getPriceList" type="int">
     	<result property="price" column="price"/>    
  	 </resultMap>
  	 
  	 <resultMap id="placeMap" type="PlaceVO">
	     <id property="num" column="num"/>
	     <result property="member_id" column="member_id"/>
	     <result property="pname" column="pname"/>
	     <result property="location" column="location"/>
	     <result property="pphone" column="pphone"/>
	     <collection property="placeAvgGrade" resultMap="placeAvgGrade"></collection>
	     <collection property="placeImg" resultMap="getPlaceImg"></collection>
	     <collection property="price" resultMap="getPriceList"></collection>  
   	</resultMap>
   	
   	<select id="getPlaceData" resultMap="placeMap">
       <![CDATA[
     		select place.num num,place.member_id member_id, place. pname pname,place.location location,pphone,bgrade,price, ipath from 
			    place,
			    (select place_num,min(price) price from room group by place_num)P,
			    (select p.num,round(avg(bgrade),1) bgrade from place p,board b where p.num = b.place_num group by p.num order by p.num desc)A,
			    (select place_num,ipath from 
			        image i,
			        (select r.place_num,min(i.num) inum from room r,image i where r.num = i.room_num group by r.place_num)A 
			            where  i.num = A.inum order by place_num desc)B
			        		where place.num = A.num(+) and place.num = P.place_num and place.num = B.place_num(+) order by place.num desc
       ]]>
    </select>
    
    
    <!-- 캠핑장 상세 페이지  -->
    <select id="getReviewCountList" resultType="int">
       <![CDATA[ 
           select count(b.id) review from place p,board b where p.num = b.place_num and p.num = #{num} group by p.num
       ]]>
    </select>
    
    <select id="getGrade" resultType="double">
       <![CDATA[ 
           select round(avg(bgrade),1) grade from place p,board b,room r where p.num = b.place_num and p.num = r.place_num and p.num = #{num} group by p.num
       ]]>
    </select>
    
    <select id="getPlaceDetailImg" resultType="String">
       <![CDATA[ 
           select ipath from place p,room r,image i where p.num = r.place_num and i.room_num = r.num and p.num = #{num}
       ]]>
    </select>
    
    <resultMap id="getReviewCountList" type="int">
      <result property="review" column="review"/>    
  	</resultMap>
  	
  	<resultMap id="getGrade" type="double">
      <result property="grade" column="grade"/>    
  	</resultMap>
  	
  	<resultMap id="getPlaceDetailImg" type="String">
      <result property="ipath" column="ipath"/>    
  	</resultMap>
  
    <resultMap id="placeDetailMap" type="PlaceDetailVO">
      <id property="num" column="num"/>
      <result property="member_id" column="member_id"/>
      <result property="pname" column="pname"/>
      <result property="location" column="location"/>
      <result property="pphone" column="pphone"/>
      <association property="review" resultMap="getReviewCountList"></association>
      <association property="grade" resultMap="getGrade"></association>
      <collection property="ipath" resultMap="getPlaceDetailImg"></collection>
   	</resultMap>
   	
   	<select id="getPlaceDetail" resultMap="placeDetailMap">
       <![CDATA[
     		select p.num num,p.member_id member_id,p.pname pname,location,pphone,review,grade,ipath from 
			    place P,
			    (select p.num,count(b.id)review from place p,board b where p.num = b.place_num(+) and p.num = #{num} group by p.num)R,
			    (select round(avg(bgrade),1)grade from place p,board b,room r where p.num = b.place_num(+) and p.num = r.place_num and p.num = #{num} group by p.num)G,
			    (select ipath from place p,room r,image i where p.num = r.place_num and i.room_num = r.num and p.num = #{num})I
			        where P.num = R.num
       ]]>
    </select>
    
    <insert id="registerPlace" >
       <![CDATA[
           insert into place (num, member_id, pname, location, pphone)
            values (place_seq.nextval, #{member_id}, #{pname}, #{location}, #{pphone})
       ]]>
    </insert>
    
    <insert id="registerPlace_Type" >
       <![CDATA[
           insert into place_type (place_num, place_type_group_num)
            values (#{place_num}, #{place_type_group_num})
       ]]>
    </insert>
    
    <insert id="registerRoom" >
       <![CDATA[
           insert into room (num, place_num, price, capacity, rinfo, rname)
            values (room_seq.nextval, #{place_num}, #{price}, #{capacity}, #{rinfo}, #{rname})
       ]]>
    </insert>
    
    <insert id="imginsert" >
       <![CDATA[
           insert into image(num, room_num, image_type_num, iname, ioriname, ipath)
				values(image_seq.nextval, #{room_num}, 0, #{iname}, #{ioriname}, #{ipath})
       ]]>
    </insert>
    
    
    
    
    
    
    
     
    
</mapper>
