<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hi.prj.mapper.PlaceMapper">
    <!-- 캠핑장 예약페이지 (place테이블 정보 + 평균평점 + 대표가격 + 대표이미지) -->
   	<select id="getPlaceData" resultType="PlaceVO">
       <![CDATA[
			select place.num num,place.member_id member_id, place. pname pname,place.location location,pphone,bgrade placeAvgGrade,price, iname from 
			    place,
			    (select place_num,min(price) price from room group by place_num)P,
			    (select p.num,round(avg(bgrade),1) bgrade from place p,board b where p.num = b.place_num(+) group by p.num order by p.num desc)A,
			    (select place_num, iname from 
                        image i,
                        (select place_num,max(i.num) num from 
                                image i,
                                (select B.num,place_num from 
                                    image i,
                                    (select max(r.num)num ,r.place_num from 
                                        room r,
                                        (select p.num, min(r.price) price from place p,room r where p.num = r.place_num group by p.num)A 
                                    where A.num = r.place_num and r.price = A.price group by place_num)B
                                where i.room_num = B.num)C
                        where i.room_num = C.num group by place_num)D
                    where i.num = D.num)B
                    
			where place.num = A.num(+) and place.num = P.place_num and place.num = B.place_num(+) order by place.num desc
       ]]>
    </select>
    
    <!-- 캠핑장예약 상세 페이지 -->
    
    <!-- 해당 캠핑장 모든객실 이미지 -->
    <select id="getPlaceDetailImg" resultType="String">
       <![CDATA[ 
           select iname inameList from 
           		place p,
           		room r,
           		image i 
           	where p.num = r.place_num and i.room_num = r.num and p.num = #{num}
       ]]>
    </select>
  	
  	<resultMap id="getPlaceDetailImg" type="String">
      <result property="inameList" column="inameList"/>    
  	</resultMap>
  
    <resultMap id="placeDetailMap" type="PlaceDetailVO">
      <id property="num" column="num"/>
      <result property="member_id" column="member_id"/>
      <result property="pname" column="pname"/>
      <result property="location" column="location"/>
      <result property="pphone" column="pphone"/>
      <result property="review" column="review"/>
      <result property="grade" column="grade"/>
      <collection property="inameList" resultMap="getPlaceDetailImg"></collection>
   	</resultMap>
   	
   	<select id="getPlaceDetail" resultMap="placeDetailMap">
       <![CDATA[
     		select p.num num,p.member_id member_id,p.pname pname,location,pphone,review,grade,iname inameList from 
			    place P,
			    (select p.num,count(b.id)review from place p,board b where p.num = b.place_num(+) and p.num = #{num} group by p.num)R,
			    (select round(avg(bgrade),1)grade from place p,board b,room r where p.num = b.place_num(+) and p.num = r.place_num and p.num = #{num} group by p.num)G,
			    (select iname from place p,room r,image i where p.num = r.place_num and i.room_num = r.num and p.num = #{num})I
			where P.num = R.num
       ]]>
    </select>
    
    <!-- 객실등록 -->
    <insert id="registerPlace" >
       <![CDATA[
           insert into place (num, member_id, pname, location, pphone)
            values (place_seq.nextval, #{member_id}, #{pname}, #{location}, #{pphone})
       ]]>
    </insert>
    
    <insert id="registerPlace_Type" >
       <![CDATA[
       		insert into place_type (place_num, place_type_group_num) select #{place_num}, #{place_type_group_num} from dual
   			 	where not exists 
   			 (select place_type_group_num from place_type where place_num = #{place_num} and place_type_group_num = #{place_type_group_num})
       ]]>
    </insert>
    
    <insert id="registerRoom" >
       <![CDATA[
           insert into room (num, place_num, price, capacity, rinfo, rname)
            values (room_seq.nextval, #{place_num}, #{price}, #{capacity}, #{rinfo}, #{rname})
       ]]>
    </insert>
    
    <insert id="imginsert" >
       <![CDATA[
           insert into image(num, room_num, image_type_num, iname, ioriname, ipath)
				values(image_seq.nextval, room_seq.currval, 0, #{iname}, #{ioriname}, #{ipath})
       ]]>
    </insert>
    
    
    
    
    
    
    
     
    
</mapper>
