<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hi.prj.mapper.RoomMapper">
    
    <select id="getRoom" resultType="RoomVO">
       <![CDATA[ 
           select * from room where place_num = #{num} order by price
       ]]>
    </select> 
    
    <select id="getImgList" resultType="RoomImgVO">
       <![CDATA[ 
           select * from image
       ]]>
    </select> 
    
</mapper>
